@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #fecaca;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb, .scrollbar:active::-webkit-scrollbar-thumb {
    background: #f63c3c;
  }
}
